<?xml version="1.0"?>
<openerp>
    <data>

        <!-- Action to open Configs list -->
        <act_window 
            id="action_config"
            name="Configs"
            res_model="unison.config"
            view_mode="tree,form"
        />
        
        <!-- Menu item to open Configs List -->
        <menuitem 
            id="menu_config"
            name="Configuration"
            parent="unison.menu_installs"
            sequence="5"
            action="action_config"
        />

        <!-- Config Tree -->
        <record id="view_tree_config" model="ir.ui.view">
            <field name="name">Config Tree</field>
            <field name="model">unison.config</field>
            <field name="arch" type="xml">
                <tree editable="top">
                    <field name="main_domain"/>
                    <field name="region_id"/>
                    <field name="image_id"/>
                    <field name="default_branch"/>
                </tree>
            </field>
        </record>

        <!-- Config Form -->
        <record id="view_form_config" model="ir.ui.view">
            <field name="name">Config Form</field>
            <field name="model">unison.config</field>
            <field name="arch" type="xml">
                <form string="Config">
                    <header>
                        <!-- <button name="xxxxxxx" type="object" string="Button Name" /> -->
                    </header>
                    <sheet>
                        <group name="group_top">
                            <group name="group_left">
                                <button type="object" name="get_droplets_list" string="Get Droplets" />
                                <field name="main_domain"/>
                                <field name="region_id"/>
                                <field name="image_id"/>
                                <field name="default_branch"/>
                                <field name="notes"/>
                            </group>
                        </group>
                    </sheet>
                </form>
            </field>
        </record>

    </data>
</openerp>
