<?xml version="1.0"?>
<openerp>
    <data>

        <!-- Action to open Modules list -->
        <act_window 
            id="action_module"
            name="Modules"
            res_model="unison.module"
            view_mode="tree,form"
        />
        
        <!-- Menu item to open Modules List -->
        <menuitem 
            id="menu_module"
            name="Modules"
            parent="unison.menu_code"
            sequence="40"
            action="action_module"
        />

        <!-- Module Tree -->
        <record id="view_tree_module" model="ir.ui.view">
            <field name="name">Module Tree</field>
            <field name="model">unison.module</field>
            <field name="arch" type="xml">
                <tree create="false" delete="false" editable="false">
                    <field name="branch_id"/>
                    <field name="name"/>
                    <field name="category"/>
                    <field name="installable"/>
                    <field name="application"/>
                    <field name="author"/>
                    <field name="website"/>
                </tree>
            </field>
        </record>

        <!-- Module Form -->
        <record id="view_form_module" model="ir.ui.view">
            <field name="name">Module Form</field>
            <field name="model">unison.module</field>
            <field name="arch" type="xml">
                <form string="Module" create="false" delete="false" editable="true">
                    <header>
                        <!-- <button name="xxxxxxx" type="object" string="Button Name" /> -->
                    </header>
                    <sheet>
                        <group name="group_top">
                            <group name="group_left">
                                <field name="code" readonly="1"/>
                                <field name="name" readonly="1"/>
                                <field name="branch_id" readonly="1"/>
                                <field name="description" readonly="1"/>
                                <field name="summary" readonly="1"/>
                                <field name="category" readonly="1"/>
                                <field name="version" readonly="1"/>
                            </group>
                            <group name="group_left">
                                <field name="license" readonly="1"/>
                                <field name="installable" readonly="1"/>
                                <field name="auto_install" readonly="1"/>
                                <field name="application" readonly="1"/>
                                <field name="author" readonly="1"/>
                                <field name="website" readonly="1"/>
                                <field name="active" readonly="1"/>
                                <field name="notes"/>
                            </group>
                        </group>
                    </sheet>
                </form>
            </field>
        </record>

    </data>
</openerp>
